@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?593631ef70db220a374ac408f4c779e3") format("truetype"),
url("../fonts/flaticon.woff?593631ef70db220a374ac408f4c779e3") format("woff"),
url("../fonts/flaticon.woff2?593631ef70db220a374ac408f4c779e3") format("woff2"),
url("../fonts/flaticon.eot?593631ef70db220a374ac408f4c779e3#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?593631ef70db220a374ac408f4c779e3#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.flaticon-make-up:before {
    content: "\f101";
}
.flaticon-spa:before {
    content: "\f102";
}
.flaticon-nail-polish:before {
    content: "\f103";
}
.flaticon-relax:before {
    content: "\f104";
}
.flaticon-water:before {
    content: "\f105";
}
.flaticon-facial-treatment:before {
    content: "\f106";
}
.flaticon-essential-oil:before {
    content: "\f107";
}
.flaticon-shield:before {
    content: "\f108";
}
.flaticon-review:before {
    content: "\f109";
}
.flaticon-money:before {
    content: "\f10a";
}
.flaticon-email:before {
    content: "\f10b";
}
.flaticon-phone-call:before {
    content: "\f10c";
}
.flaticon-right-arrow:before {
    content: "\f10d";
}
.flaticon-left-arrow:before {
    content: "\f10e";
}
.flaticon-twitter:before {
    content: "\f10f";
}
.flaticon-facebook:before {
    content: "\f110";
}
.flaticon-instagram:before {
    content: "\f111";
}
.flaticon-youtube:before {
    content: "\f112";
}
.flaticon-woman:before {
    content: "\f113";
}
.flaticon-office-push-pin:before {
    content: "\f114";
}
.flaticon-pencil:before {
    content: "\f115";
}
.flaticon-cancel:before {
    content: "\f116";
}
.flaticon-play-button:before {
    content: "\f117";
}
