
.header {
    position: fixed;
    height: 99px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(224, 224, 224, 0.25);
    color: #0e4c9a;
    width: 100%;
    z-index: 1;
    flex-direction: row;
    flex-basis: 7%;
    justify-content: space-around;
    align-items: center;
    padding-right: 60px;
    padding-left: 100px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    /* direction: rtl; */
    white-space: nowrap;
    z-index: 99;
}

.web-btn {
    color: #fff;
    background-color: #0e4c9a;
    border: none;
    border-radius: 26px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    font-family: "Tajawal-Medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    display: flex;
}


.login {
    margin-top: 1px;
    left: calc(50% - 100px/2 - 614px)
}


.web-btn-4-instance {
    height: 45%;
    flex-basis: 7%;
    margin-top: 3px;
}

.web-btn-5-instance {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 10px;
    
    width: 198px;
    height: 43px;
    /* left: calc(50% - 198px/2 - 313px); */
    top: 30px;

    background: #FFFFFF;

    border: 1px solid #43BB9A;
    color: #43BB9A;
    border-radius: 26px;
}

.dzkwatjfgoruq {
    margin-bottom: 1px;
}

.menu {
    color: #2b2c2c;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding-top: 1px;
    font-family: "Tajawal-Medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    display: flex;
}

.header a, .header a:hover {
    text-decoration: none;
}

.menu a, .menu a:hover {
    text-decoration: none;
    color: #2b2c2c;
    font-family: "Tajawal-Medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    display: flex;
}

.menu-instance-1 {
    height: 20%;
    flex-basis: 6%;
    margin-top: 2px;
    margin-left: 100px;
    /* margin-left: calc(100vw - 925px); */
}

.menu-1-instance, .menu-2-instance {
    height: 20%;
    flex-basis: 4%;
    margin-top: 2px;
}
